<main>
  <div class="container marketing">

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">習慣は現代人のテーマ<span class="text-muted">あなたを彩る</span></h2>
        <p class="lead">食やモノ、インターネットなど私達が生きる上では困るものはほとんどなくなりました。私達にとって”より良く生きること”が課題になっており、行動することが鍵であることはもう皆さん知っていることです。行動することが私達の人生を彩るのであれば、良い習慣を取り入れることが彩りを広げ、より多彩にしていくことになります。</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">習慣化は根気が必要<span class="text-muted">よい環境を手に入れること</span></h2>
        <p class="lead">習慣化を目指して三日坊主で終わった経験のある人は何人いるでしょう。しかしそれはあなたのせいではありません。もともと人間は楽に省エネで生きるように設計されているのです。ですから、あなたの意志に関わらず、行動は習慣化することなく終わってしまうのです。必要なのは行動を継続させる環境だったのです。</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">良いチームに出会おう<span class="text-muted">楽しいは継続できる</span></h2>
        <p class="lead">｢Sateto｣では、共に行動をしてくれる仲間や応援してくれる仲間に出会えます。起きるのが辛い朝でも、ゴロゴロしたい夜でも「”さてと”、やるか」と軽いフットワークで物事に取り組むことができます。”さてと”の一言がより良い自分の一歩になります。</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

  </div>
</main>
